@font-face {
    font-family: 'Raleway';
    src: url(raleway/Raleway-Regular.ttf) format('truetype');
}
#container, header, footer{
    font-family: 'Raleway';
    padding: 0px 0px 20px 20px;
    margin: 0px 0px 20px 20px;
    /* flex: 1;       Occupe tout l'espace disponible restant entre l'en-tete et le pied de page. */

}

.star{
    color: #0065FC;
    font-size: 24px;
    justify-content: flex-end;
}
a{
    color: inherit;
    text-decoration: none;
}
.header{
    display: flex;
    /* align-items: center; */
    max-width: 1440px;
    margin: auto;
    justify-content: space-between;
}
.logo{
    height: 3rem;
    margin-top: 1rem;
    width: auto;
}
.headerNav{
    display: flex;
    
}
.nav-link{
    padding: 2rem 2rem 0rem 2rem;
    font-weight: 500;
    text-align: left;
    transition-duration: 0.1s;
    border-top: 3px transparent solid;
    border-bottom: 3px transparent solid;
}
.nav-link[data-active=true] {
    color: #0065FC;
    border-top: 2px solid blue;
}
.nav-link:hover {
    color: #0065FC;
    background-color: #dae4f3;
    border-top: 2px solid blue;
}

.searchForm {
    display: inline-flex;
    max-width: 100%;
    overflow: auto;
}
.search-icon {
    background-color: #F2F2F2;
    padding: 1rem 1.25rem;
    border-radius: 1rem 0 0 1rem;
    text-align: center;
}
.search-iconp {
    margin-left: 0.1rem;
}
.search-input {
    border-right: none;
    border-left: none;
    border-top: #F2F2F2 1px solid;
    border-bottom: #F2F2F2 1px solid;
    padding: 0 1.5rem;
    box-sizing: border-box;
    width: 14rem;
    font-size: 1rem;
    font-weight: bold;
    font-family: "Raleway", "Sans serif";
}
.search-input::placeholder {
    font-family: "Raleway";
    font-size: 1em;
    color: #000000;
}
.submit-input {
    background-color: #0065FC;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 0 1rem 1rem 0;
    padding: 0 1.5rem;
    font-family: "Raleway", "Sans serif";
    font-size: 1rem;
    cursor: pointer;
}
.submit-input .submit-input-Icon{
    display: none;
}
.submit-input:hover{
    background-color: #dae4f3;
}

.filter-container{
    display: flex;
    flex-wrap: wrap;
    padding: 30px;
}
.filter-container div{
    padding: 0px 60px 0px 0px;
    /* background-color: #0065FC; */
    margin: 0px 20px 0px 40px;
    border: 2px solid #F2F2F2;
    border-radius: 100px;
}
.filter-container div:hover{
    background-color: #dae4f3;
}
.filter-container strong{
    padding: 10px 0px 8px 0px;
}
.filter-container div span{
    border: 1px solid #F2F2F2;
    border-radius: 100%;
    padding: 8px;
    background-color: #dbe3ee;
}

.second-container{
    display: flex;
}

.hebergement-container .img-heb{
    height: 15vh;
    width: 100%;
    border-radius: 20px 20px 0px 0px;
}
.hebergement-container{
    border-radius: 20px;
    width: 70%;
    height: auto;
    margin: 0px 30px 0px 0px;
    background-color: #F2F2F2;
    position: relative;
}
.hebergement-container .header{
    display: flex;
    justify-content: space-between;
    margin: 20px;
}
.hebergement-container .img-container{
    display: flex;
    position: relative;
    width: 100%;
    flex-wrap: wrap;
    flex-grow: initial;
    border-radius: 20px 20px 20px 20px;
}
.hebergement-container figure{
    height: auto;
    width: 25%;
    padding: 5px 5px 0px 5px;
    margin: 5px 20px 20px 40px;
    background-color: #FFFF;
    border-radius: 20px;
}

.popular-container{
    border-radius: 20px;
    width: 30vw;
    height: 80vh;
    display: table;
    flex-wrap: nowrap;
    background-color: #F2F2F2;

}
.popular-container .img-popular{
    width: 15vw;
    border-radius: 20px 0px 0px 20px;
    
}
.popular-container .header{
    display: flex;
    justify-content: space-between;
    margin: 20px;
}
.popular-container figure{
    display: flex;
    height: 20vh;
    width: 25;
    padding: 5px 5px 5px 5px;
    background-color: #FFFF;
    border-radius: 20px;
}
figure:hover{
    transform: scale(1.01);
    background-color: #dae4f3;
    transition-duration: 2s;
}
.activity-container{
    width: 100vw;
    height: 200%;
}
.activity-container .img-container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

}
.activity-container .img-container figure{
    border-radius: 10px;
    height: 50%;
    box-shadow: 5px 5px 5px #F2F2F2;


}
.activity-container .img-container figure img{
    border-radius: 10px 10px 0px 0px;
    height: 15vh;
    width: 19vw;
    flex-wrap: nowrap;
    
}
.activity-container .img-container .item-1 figure img{
    height: 300px;
    box-shadow: 5px 5px 5px #F2F2F2;
}
.activity-container .img-container .item-2{
    flex-direction: column;
}
  
.footer {
    background-color: #F2F2F2;
    width: 100%;
  }
.footer-container {
    display: flex;
    max-width: 100%;
    width: 1440px;
    margin: auto;
    padding: 0 2rem;
    box-sizing: border-box;
}
.footer .footer-container div {
    width: 30%;
    padding: 1rem 2rem;
}
.footer-links{
    display: block;
}
.footer-links:hover {
    text-decoration: underline;
}

@media only screen and (max-width: 1400px) {
    #container{
        padding: 0px 0px 20px 20px;
        margin: 0px 0px 20px 20px;
        flex: 1;
        text-align: left;
        
    }
    .header{
        display: block;
        max-width: 1440px;
        margin: auto;
    }
    .logo{
        height: 3rem;
        margin: 1rem 50% 0rem 50%;
        width: auto;
    }
    .headerNav{
        display: flex;
        justify-content: space-evenly;
        
    }
    .nav-link{
        padding: 2rem 25% 0rem 25%;
        font-weight: 500;
        text-align: left;
        transition-duration: 0.1s;
        border-top: none;
        border-bottom: 3px transparent solid;
    }
    .nav-link[data-active=true] {
        color: #0065FC;
        border-bottom: 2px solid blue;
        border-top: none;
    }
    .nav-link:hover {
        color: #0065FC;
        background-color: #dae4f3;
        border-bottom: 2px solid blue;
        border-top: none;
    }

    .searchForm {
        display: inline-flex;
        max-width: 100%;
        overflow: auto;
    }
    .search-icon {
        background-color: #F2F2F2;
        padding: 1rem 1.25rem;
        border-radius: 1rem 0 0 1rem;
        text-align: center;
    }
    .search-iconp {
        margin-left: 0.1rem;
    }
    .search-input {
        border-right: none;
        border-left: none;
        border-top: #F2F2F2 1px solid;
        border-bottom: #F2F2F2 1px solid;
        padding: 0 1.5rem;
        box-sizing: border-box;
        width: 80rem;
        font-size: 1rem;
        font-weight: bold;
        font-family: "Raleway";
    }
    .search-input::placeholder {
        font-family: "Raleway";
        font-size: 1em;
        color: #000000;
    }
    .submit-input {
        background-color: #0065FC;
        color: white;
        font-weight: bold;
        border: none;
        border-radius: 0 1rem 1rem 0;
        padding: 0 1.5rem;
        font-family: "Raleway", "Sans serif";
        font-size: 1rem;
        cursor: pointer;
    }
    .submit-input .submit-input-Icon{
        display: block;
    }
    .submit-input .submit-input-Text{
        display: none;
    }
    .submit-input:hover{
        background-color: #dae4f3;
    }
    
}
@media screen and (max-width: 1000px){
    .second-container{
        display: flex;
        flex-direction: column-reverse;

    }

    .hebergement-container .img-heb{
        height: 20vh;
        width: 100%;
        border-radius: 20px 20px 0px 0px;
    }
    .hebergement-container{
        border-radius: 20px;
        width: 100%;
        height: auto;
        margin: 0px 30px 0px 0px;
        background-color: #FFF;
        position: relative;
    }
    .hebergement-container .header{
        display: flex;
        justify-content: space-between;
        margin: 20px;
    }
    .hebergement-container .img-container{
        display: flex;
        position: relative;
        flex-wrap: wrap;
        flex-grow: initial;
        border-radius: 20px 20px 20px 20px;
    }
    .hebergement-container figure{
        height: auto;
        width: 90%;
        padding: 5px 5px 20px 5px;
        background-color: #F2F2F2; 
        border-radius: 20px;
        border: 2px solid #F2F2F2;
    }
    .popular-container{
        border-radius: 20px;
        margin-right: 30px;
        width: auto;
        height: 80vh;
        display: table;
        flex-wrap: nowrap;
        background-color: #F2F2F2;

    }
    .popular-container .img-popular{
        width: 30vw;
        border-radius: 20px 0px 0px 20px;
        
    }
    .popular-container .header{
        display: flex;
        justify-content: space-between;
        margin: 20px;
    }
    .popular-container figure{
        display: flex;
        height: 20vh;
        width: 90%;
        padding: 5px 5px 5px 5px;
        background-color: #FFFF;
        border-radius: 20px;
    }
    figure:hover{
        transform: scale(1.1);
        background-color: #dae4f3;
        transition-duration: 2s;
    }
    .activity-container{
        width: auto;
        height: 200%;
    }
    .activity-container .img-container{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;

    }
    .activity-container .img-container figure{
        border-radius: 10px;
        height: 80%;
        width: 90%;
        border: 2px solid #F2F2F2;

    }
    .activity-container .img-container figure img{
        border-radius: 10px 10px 0px 0px;
        height: 25vh;
        width: 100%;
        flex-wrap: nowrap;
        
    }
    .activity-container .img-container .item-1 figure img{
        display: flex;
        height: 25vh;
        flex-direction: column;
        box-shadow: 5px 5px 5px #F2F2F2;
    }
    .activity-container .img-container .item-2{
        flex-direction: column;
    }
}
@media screen and (max-width: 700px){
    .filter-container{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        padding: 30px;
    }
    .filter-container div{
        padding: 0px 60px 0px 0px;
        margin: 0px 20px 0px 40px;
        border: 2px solid #F2F2F2;
        border-radius: 100px;
    }
    .filter-container strong{
        padding: 10px 0px 8px 0px;
    }
    .filter-container div span{
        border: 1px solid #F2F2F2;
        border-radius: 100%;
        padding: 8px;
        background-color: #dbe3ee;
    }
    .popular-container figure{
        display: flex;
        height: 20vh;
        width: 80%;
        padding: 5px 5px 5px 5px;
        background-color: #FFFF;
        border-radius: 20px;
    }
    figure:hover{
        transform: scale(1.1);
        background-color: #dae4f3;
        transition-duration: 2s;
    }
    .footer {
        background-color: #F2F2F2;
        width: 100%;
      }
    .footer-container {
        display: flex;
        flex-direction: column;
        max-width: 100%;
        width: 1440px;
        margin: auto;
        padding: 0 0rem;
        box-sizing: border-box;
    }
    .footer .footer-container div {
        width: 60%;
        padding: 1rem 2rem;
    }
    .footer-links{
        display: block;
    }
    .footer-links:hover {
        text-decoration: underline;
    }
}
@media screen and (max-width: 500px) {
    .popular-container figure{
        display: flex;
        height: 20vh;
        width: 70%;
        padding: 5px 5px 5px 5px;
        background-color: #FFFF;
        border-radius: 20px;
    }
    figure:hover{
        transform: scale(1.1);
        background-color: #dae4f3;
        transition-duration: 2s;
    }
}
